body{
	background-color:#FFFFFF;
}

#top_container{
	background-color: #8CE6FF;
	padding: 20px;
	border-bottom: 1px solid #363636;
}

#top_container h1{
	margin: 0;
}

#content_container{
	min-height: 400px;
}

.loader_image{
	display: block;
	margin: 40px auto;
}

#control_panel{
	padding: 0px 30px;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #363636;
}

#control_panel .control_panel_button{
	list-style-type: none;
	padding: 10px;
	cursor:pointer;
	display:inline-block;
}

#control_panel .control_panel_button:hover{
	background-color:#8CE6FF;
}


#general_statistics{
	padding: 0 20px 20px 20px;
}

.result_container{
	display:none;
}